{% extends "base.html" %}

{% block content %}
    <h2 class="subtitle">
        Publication Detail
    </h2>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ publication.user }}</a>
                <small class="text-muted">{{ publication.create_at.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                <small class="text-muted">Priority: {{ publication.priority }}.</small>
                <small class="text-muted">Status: {{ publication.status }}.</small>
            </div>
            <h2><a class="article-title" href="#">{{ publication.title }}</a></h2>
            <p class="article-content">{{ publication.content }}</p>
        </div>
    </article>


{% endblock %}