{% extends "base.html" %}

{% block content %}
    <h2 class="subtitle">
        Publication Detail
    </h2>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="/profile">Author: {{ publication.author }}</a>               
          
            </div>
            <h2><small class="article-title" href="#">Priority: {{ publication.priority }}.</small></h2>
            <h2><small class="article-title" href="#">Status: {{ publication.status }}.</small></h2>
            <h2><small class="article-title" href="#">Date: {{ publication.create_at.strftime('%Y-%m-%d %H:%M:%S') }}</small></h2>
            <h2><p class="article-title" href="#">Title: {{ publication.title }}</p></h2>
            <p class="article-content">Description: {{ publication.content }}</p><br>
            <h2><a class="button  is-danger" href="/post/{{publication.id}}/update">Update Publication</a></h2>
            <h2><a class="button  is-danger" href="/post/{{publication.id}}/delete">Delete Publication</a></h2>
        </div>
    </article>


{% endblock %}