{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}.</a>.
</div>
{% endif %}
{% endwith %}

    <div class="media">        
        <a class="button is-block is-danger is-large" href="/profile/delete">DELETE</a>
        <img class="rounded-circle account-img" src="{{ photo }}">
        <div class="media-body">
            <h2 class="account-heading">{{current_user.username}}</h2>
            <p class="text-secondary">{{current_user.email}}</p>
        </div>
    </div>
    <form method="POST" action="/profile" enctype="multipart/form-data">
        <div class="column is-4 is-offset-4">
            <h3 class="title">Account Info</h3>
            <div class="box">
                <form method="POST" action="/signup">
                    {{ form.hidden_tag() }}
                    <div class="field">
                        <div class="control">                          
                            {{form.email.label(class="form-control-label")}}
                            {{form.email(class="input is-large")}}
                        </div>
                    </div>
    

                    <div class="field">
                        <div class="control">                           
                            {{form.username.label(class="form-control-label")}}
                            {{form.username(class="input is-large")}}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form.picture.label() }}
                            {{ form.picture(class="form-control-file") }}
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                    <span class="text-danger">{{ error }}</span></br>
                                {% endfor %}
                            {% endif %}
                        </div>                        
                        
                    </div>
                    
    
                    <button class="button is-block is-info is-large is-fullwidth">{{form.submit()}}</button>
                    
                </form>
            </div>
        </div>

{% endblock %}